Package: org.thebigboss.camvolnormal
Name: CamVolNormal
Depends: mobilesubstrate, firmware (>= 5.0), gsc.still-camera | gsc.front-facing-camera
Version: 1.0
Architecture: iphoneos-arm
Description: activate shutter when volume key released.
Author: PoomSmart
Section: Tweaks
